In [1]:
cel=float(input("Enter the temperature in celsius: "))
fer=(9/5)*cel+32
print("Temperature in Fahrenheit : ",fer)

Temperature in Fahrenheit :  91.616

In [2]:
rad=float(input("Enter the radius : "))
area=3.1415192*rad*rad
print("Area of the circle : ",area)

Area of the circle :  98.51804211199999

In [12]:
# create a python list of containing the names of five countries
lis=['India','Japan','China','Russia','France']
# a
lis.append('England')
lis.append('Norway')
print(lis)

# b
print(lis[3])
# c
lis.sort()
print(lis)

# d
if 'India' in lis:
    print("India Exists")
else:
    print("Not")

# e

['India', 'Japan', 'China', 'Russia', 'France', 'England', 'Norway']
Russia
['China', 'England', 'France', 'India', 'Japan', 'Norway', 'Russia']
India Exists

In [ ]:
# productPrice
# a
productPrice=(21,56.2,89,7,90,200)
max_price=max(productPrice)
min_price=min(productPrice)
total=sum(productPrice)
print("Max: ",max_price)
print("Min: ",min_price)

print(productPrice)
# b




# c
lis=list(productPrice)
print(lis)

# d
productPrice=(('apple',451),('papya',271),('banana',118))
productPrice.append(('orange', 60))

# Extract prices and calculate average
total_price = sum(price for _, price in productPrice)
average_price = total_price / len(productPrice)

print("Average Price:", average_price)
print("Total Price:", total_price)

Max:  200
Min:  7
(21, 56.2, 89, 7, 90, 200)
[21, 56.2, 89, 7, 90, 200]

In [ ]:
# Dictionaries
cities={'London':100,'Tokyo':200,'Berlin':300,'Oslo':400}
# a
cities.update({'BBSR':780})
cities.update({'xyz':895})
print(cities)

#b
max_pop=max(cities.values())
print(cities)

# c
if 'London' in cities:
    print("Exists")
else:
    print("Doesn't Exists")

# d
del cities['Berlin']
print(cities)

{'London': 100, 'Tokyo': 200, 'Berlin': 300, 'Oslo': 400, 'BBSR': 780, 'xyz': 895}

In [ ]:
# 1
print("C.V Raman Global University ,Bhubaneswar")
# 2
a=int(input("Enter First Number: "))
b=int(input("Enter Second Number: "))
sum=a+b
print(sum)

# 3
import math
num=int(input("Enter the number"))
squareRoot=math.sqrt(num)
print(squareRoot)

# 4
a=6
b=9
a,b=b,a
print(a," ",b)

# 5
num=8921
Sum=0
while num>0:
    digit=num%10
    num//=10
    Sum+=digit
print("Sum is : ",Sum)

# 6
if(num%2==0):
    print("It is a even number")

# 7
a=43
b=47
print(max(a,b))

C.V Raman Global University ,Bhubaneswar
9
3.0
9   6
Sum is :  20
It is a even number
47

### Simple Calculator Program

In [ ]:
a=int(input("Enter First Number: "))
b=int(input("Enter Second Number: "))
operation=input('Enter the operation :')
Sum=0
dif=0
mul=1
div=1
match operation:
    case '+':
        Sum=a+b
        print(Sum)
    case '-':
        dif=a-b
        print(dif)
    case '*':
        mul=a*b
        print(mul)
    case '/':
        div=a/b
        print(div)
this is the

14

In [ ]:
# 13
word=input("Enter a String : ")
if(str(word)==str(word)[::-1]):
    print("String is a palindrome")
else:
    print('Not')

Not

In [29]:

# 14
fact=8
mul=1
for i in range(1,fact):
    mul*=i
print(mul)

5040

In [ ]:
# 15